n8n-agent-workflow.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "message-sent",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -3904,
        2736
      ],
      "id": "006554ea-1ced-4a3e-93f8-70edf6fae6fa",
      "name": "Message sent from UI",
      "webhookId": "1fbb2b6a-d6cf-473f-8005-1a2eb3a0e8fc",
      "disabled": true
    },
    {
      "parameters": {
        "model": "anthropic/claude-sonnet-4.5",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -3456,
        3056
      ],
      "id": "2aa42cc8-3182-45b6-b03e-3a7695ea2e3b",
      "name": "OpenRouter Chat Model1",
      "credentials": {
        "openRouterApi": {
          "id": "ul1655kEDxpYF40G",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "=7699630973",
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Text', ``, 'string') }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegramTool",
      "typeVersion": 1.2,
      "position": [
        -3280,
        3056
      ],
      "id": "9fedd1ea-c2fa-4cab-8f69-a2cdaa336b1a",
      "name": "Telegram send chat to operator",
      "webhookId": "b250e44b-7267-4f9a-8cb8-815cc01b196a",
      "credentials": {
        "telegramApi": {
          "id": "12uxr60S2EPkURR6",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\nreturn JSON.parse($input.first().json.body)"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3680,
        2736
      ],
      "id": "489135f6-516c-48df-a130-91ce10dae207",
      "name": "Parse-data"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Use this tool to send a chat message to booking guest:\n- the guest by defining booking_id",
        "tableId": "chat",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "sender",
              "fieldValue": "agent"
            },
            {
              "fieldId": "message",
              "fieldValue": "={{ $fromAI('message', ``, 'string') }}"
            },
            {
              "fieldId": "booking_id",
              "fieldValue": "={{ $fromAI('booking_id', `booking_id if you want to communicate with the guest`, 'string') }}"
            },
            {
              "fieldId": "source",
              "fieldValue": "app"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        -3104,
        3056
      ],
      "id": "428c837f-1598-442c-ad25-1b18eca843bf",
      "name": "supabase add chat to booking",
      "credentials": {
        "supabaseApi": {
          "id": "2hVXrFAKtZdoviPZ",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "*"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -3296,
        5888
      ],
      "id": "fbdeef97-7d11-46b4-9814-6fd0c8914850",
      "name": "Telegram Trigger1",
      "webhookId": "dbc58fc3-1da7-430c-b904-8b6ec18860ee",
      "credentials": {
        "telegramApi": {
          "id": "12uxr60S2EPkURR6",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json }}",
        "options": {
          "systemMessage": "=<important>You are working in n8n and output will not be read by anyone, your only method of communication is using tool calls</important>\n\nDate: {{ $now }}\n\nYou are Heimby's logistics coordinator agent. You are an expert at handling logistics for rental properties with minimal intervention and maximum efficiency.\n\nFocus on keeping this short, concise, but still happy\n\n# Guest support workflows:\n\n## General guest support agent\n\n1. Your job is to be factual and helpful, but never to helpful. Only use information available at the property database table or in the FAQ.\n2. You are allowed to use internal LLM knowledge if the guest asks general questions about what to do in an area, for example Bergen.\n3. If you do not know the answer to the question or you are lacking knowledge, send a message to the operator admin using the tool \"Telegram send chat to operator\". And then send a message to the booking or task that you are looking into it and will get back to them.\n4. If you are unsure about something, ask the operator admin using the tool \"Telegram send chat to operator\". This could be missing FAQ information or missing property information. It's better to ask than to guess.\n\n\n## FAQ maintainer\n\nIf you get information from telegram from the operator, please add information to FAQ, either to specific property_id if you think this is a specific knowledge using tool \"supabase FAQ add by property_id\" or without property_id if you think this is general FAQ using tool \"supabase FAQ add general\".\n\n- Ensure you do not duplicate entries, check in FAQ \"supabase FAQ get all\" if you already have suitable FAQ covering it\n\n## Notes\n\n- Ensure to always send a chat message to the sender\n- If you meet any issues send a message with the issue using tool \"Telegram send chat to operator\"\n- Never overpromise to the guest, never say we will fix it immediately, rather say \"I will look into when we can fix this\"\n- If guests are aggressive or saying something is super urgent, do not fall in for the pressure. Keep calm and follow standard procedure.\n",
          "maxIterations": 20,
          "passthroughBinaryImages": true
        }
      },
      "id": "66ec52f1-c293-4f43-a73f-b92d6cb78552",
      "name": "Heimby support and logistics coordinator",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -3392,
        2832
      ]
    },
    {
      "parameters": {
        "content": "# Agent with access to Database to create tasks",
        "height": 768,
        "width": 3648
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -3968,
        3472
      ],
      "id": "b3138992-f569-4dd6-ae6f-1e8dd93dfc08",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "message-sent",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -3904,
        3600
      ],
      "id": "4e87f21b-e6da-44d5-bb00-1c4c1b6d0763",
      "name": "Message sent from UI1",
      "webhookId": "1fbb2b6a-d6cf-473f-8005-1a2eb3a0e8fc",
      "disabled": true
    },
    {
      "parameters": {
        "model": "anthropic/claude-sonnet-4.5",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -2112,
        3920
      ],
      "id": "71664f27-1101-45af-a3e9-f1595636900f",
      "name": "OpenRouter Chat Model2",
      "credentials": {
        "openRouterApi": {
          "id": "ul1655kEDxpYF40G",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "chat",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "booking_id",
              "condition": "eq",
              "keyValue": "={{ $('Parse-data1').item.json.booking_id ?? \"a7ad1cf2-d67e-49bc-85ee-65a4548df999\" }}"
            },
            {
              "keyName": "task_id",
              "condition": "eq",
              "keyValue": "={{ $('Parse-data1').item.json.task_id ?? \"a7ad1cf2-d67e-49bc-85ee-65a4548df999\" }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -3456,
        3600
      ],
      "id": "2261b40d-334c-4a60-8a47-61fd7ec97d10",
      "name": "Supabase get full chat1",
      "credentials": {
        "supabaseApi": {
          "id": "2hVXrFAKtZdoviPZ",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "bookings",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "keyValue": "={{ $('Parse-data1').item.json.booking_id ?? \"352bb325-3a31-41b1-bd43-fba8d4fbacdc\" }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -3008,
        3600
      ],
      "id": "e0211d7e-3c0e-4f14-a34b-a9fb24dd4d51",
      "name": "Get Booking1",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "2hVXrFAKtZdoviPZ",
          "name": "Supabase account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "chatId": "=7699630973",
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Text', ``, 'string') }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegramTool",
      "typeVersion": 1.2,
      "position": [
        -1984,
        3920
      ],
      "id": "05cd6764-6ab6-4082-b948-eb92daebf3d6",
      "name": "Telegram send chat to operator1",
      "webhookId": "b250e44b-7267-4f9a-8cb8-815cc01b196a",
      "credentials": {
        "telegramApi": {
          "id": "12uxr60S2EPkURR6",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Get property knowledge by property_id",
        "operation": "get",
        "tableId": "properties",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "keyValue": "={{ $fromAI('id', `the property_id to fetch information for`, 'string') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        -1856,
        3920
      ],
      "id": "1ed838e5-36ac-4f44-92bf-b0d188eb7022",
      "name": "supabase get property1",
      "credentials": {
        "supabaseApi": {
          "id": "2hVXrFAKtZdoviPZ",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Fetches all open tasks related to this property",
        "operation": "getAll",
        "tableId": "tasks",
        "returnAll": true,
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "property_id",
              "condition": "eq",
              "keyValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('property_id', `UUID of the property to fetch tasks for`, 'string') }}"
            },
            {
              "keyName": "status",
              "condition": "neq",
              "keyValue": "cancelled"
            },
            {
              "keyName": "status",
              "condition": "neq",
              "keyValue": "completed"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        -1728,
        4048
      ],
      "id": "b3235c94-bdd4-41a3-b4b0-867136cdb990",
      "name": "supabase get tasks1",
      "credentials": {
        "supabaseApi": {
          "id": "2hVXrFAKtZdoviPZ",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "partners",
        "returnAll": true
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        -1600,
        3984
      ],
      "id": "9df898c4-8777-4f58-9adb-4002b584c057",
      "name": "Supabase get partners1",
      "credentials": {
        "supabaseApi": {
          "id": "2hVXrFAKtZdoviPZ",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Add new tasks to system if no suitable existing tasks exist.",
        "tableId": "tasks",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "property_id",
              "fieldValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('property_id', `UUID of the property this task belongs to`, 'string') }}"
            },
            {
              "fieldId": "task_description",
              "fieldValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('task_description', `Clear description of the task to be performed`, 'string') }}"
            },
            {
              "fieldId": "can_start_after",
              "fieldValue": "={{ $fromAI('task_can_start_after', `ISO compatible date string ex: 2025-10-05T16:00:00.000Z`, 'string') }}"
            },
            {
              "fieldId": "due_date",
              "fieldValue": "={{ $fromAI('task_due_date', `ISO compatible date string ex: 2025-10-05T16:00:00.000Z`, 'string') }}"
            },
            {
              "fieldId": "type",
              "fieldValue": "={{ $fromAI('task_type', `Task category: cleaning, maintenance, inspection, or other`, 'string', 'maintenance') }}"
            },
            {
              "fieldId": "partner_id",
              "fieldValue": "={{ $fromAI('task_partner_id', `Fill partner.id from the list of partners fetched earliers`, 'string') }}"
            },
            {
              "fieldId": "status",
              "fieldValue": "pending"
            },
            {
              "fieldId": "booking_id",
              "fieldValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('booking_id', `UUID of the related booking, if this task originated from a guest report`, 'string') }}"
            },
            {
              "fieldId": "ai_reasoning",
              "fieldValue": "={{ $fromAI('ai_reasoning', `Document reasoning for creating this task, suggested workflow steps, and expected outcome`, 'string') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        -1472,
        4048
      ],
      "id": "4fad1dc3-0d30-499a-a07f-f98a5feab6b4",
      "name": "supabase add task1",
      "credentials": {
        "supabaseApi": {
          "id": "2hVXrFAKtZdoviPZ",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\nreturn JSON.parse($input.first().json.body)"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3680,
        3600
      ],
      "id": "94ba7129-3936-4856-b714-e4cf95fc26cd",
      "name": "Parse-data1"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "faq",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "property_id",
              "condition": "eq",
              "keyValue": "={{ $('Get Booking1')?.item?.property_id ?? \"a7ad1cf2-d67e-49bc-85ee-65a4548df999\" }}"
            },
            {
              "keyName": "property_id",
              "condition": "is",
              "keyValue": "null"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -2784,
        3600
      ],
      "id": "be347a96-91a1-40fa-8bc3-32681fed6bf6",
      "name": "Get FAQ1",
      "credentials": {
        "supabaseApi": {
          "id": "2hVXrFAKtZdoviPZ",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "useCustomSchema": true,
        "operation": "get",
        "tableId": "properties",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "keyValue": "={{ ($('Get Booking1').all().length == 0 ? null : $('Get Booking1').item?.property_id ) ?? ($('Get Task1').all().length == 0 ? null : $('Get Task1')?.item?.property_id) ?? \"03789c8b-65e7-44bc-af8d-72b2e4aa6645\" }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -2560,
        3600
      ],
      "id": "8f16f519-c590-4944-9ce9-f27aedfc8f27",
      "name": "Get Property info1",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "2hVXrFAKtZdoviPZ",
          "name": "Supabase account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "tasks",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "keyValue": "={{ $('Parse-data1').item.json.task_id ?? \"352bb325-3a31-41b1-bd43-fba8d4fbacdc\" }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -3232,
        3600
      ],
      "id": "dde85063-f31b-4360-bdbe-a38cd849a497",
      "name": "Get Task1",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "2hVXrFAKtZdoviPZ",
          "name": "Supabase account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Get chat log for a given booking_id. Useful when coordinating when the partner can come and do the task at the property where guests reside",
        "operation": "getAll",
        "tableId": "chat",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "booking_id",
              "condition": "eq",
              "keyValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('booking_id', `UUID of the booking to fetch chat messages for`, 'string') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        -1344,
        3920
      ],
      "id": "5d1bcf53-f668-4a95-99fd-991fd85eb9c8",
      "name": "supabase get chat by booking_id1",
      "credentials": {
        "supabaseApi": {
          "id": "2hVXrFAKtZdoviPZ",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Use this tool to send a chat message to booking guest:\n- the guest by defining booking_id",
        "tableId": "chat",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "sender",
              "fieldValue": "agent"
            },
            {
              "fieldId": "message",
              "fieldValue": "={{ $fromAI('message', ``, 'string') }}"
            },
            {
              "fieldId": "booking_id",
              "fieldValue": "={{ $fromAI('booking_id', `booking_id if you want to communicate with the guest`, 'string') }}"
            },
            {
              "fieldId": "source",
              "fieldValue": "app"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        -1216,
        3920
      ],
      "id": "aa6a905c-efc4-45ab-b4fb-ab5dc13e2abb",
      "name": "supabase add chat to booking1",
      "credentials": {
        "supabaseApi": {
          "id": "2hVXrFAKtZdoviPZ",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Get booking by booking_id, useful to fetch check-in info or know what property this booking is from",
        "operation": "get",
        "tableId": "bookings",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "keyValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('booking_id', `UUID of the booking to fetch`, 'string') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        -1088,
        3920
      ],
      "id": "ea819376-1164-4411-8188-ddb9ef852cec",
      "name": "supabase get booking1",
      "credentials": {
        "supabaseApi": {
          "id": "2hVXrFAKtZdoviPZ",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return {\n\"FAQ\": $('Get FAQ1').all(),\n\"chat\": $('Supabase get full chat1').all(),\n\"Property\": $('Get Property info1').all(),\n\"Booking\": $('Get Booking1').all(),\n\"Task\": $('Get Task1').all(),\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2336,
        3600
      ],
      "id": "49eba9b7-bf5e-4bc8-86c4-1f4cc7a9a757",
      "name": "Chat input data1"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Add a general FAQ for all properties",
        "tableId": "faq",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "question",
              "fieldValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('faq_question', `The FAQ question text`, 'string') }}"
            },
            {
              "fieldId": "answer",
              "fieldValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('faq_answer', `The FAQ answer text`, 'string') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        -960,
        3920
      ],
      "id": "15f86171-2c69-4207-a41f-81af89db155a",
      "name": "supabase FAQ add general1",
      "credentials": {
        "supabaseApi": {
          "id": "2hVXrFAKtZdoviPZ",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Add a specific FAQ for one property_id",
        "tableId": "faq",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "question",
              "fieldValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('faq_question', `The FAQ question text`, 'string') }}"
            },
            {
              "fieldId": "answer",
              "fieldValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('faq_answer', `The FAQ answer text`, 'string') }}"
            },
            {
              "fieldId": "property_id",
              "fieldValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('faq_property_id', `UUID of the property this FAQ entry is specific to. Leave empty for general FAQ entries`, 'string') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        -832,
        3920
      ],
      "id": "edd0c2bf-3310-43c4-8a09-0f1f7ad471a2",
      "name": "supabase FAQ add by property_id1",
      "credentials": {
        "supabaseApi": {
          "id": "2hVXrFAKtZdoviPZ",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Use tool to update existing FAQ entry",
        "operation": "update",
        "tableId": "faq",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('faq_entry_id', `UUID of the FAQ entry to update`, 'string') }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "question",
              "fieldValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('faq_question', `Updated question text`, 'string') }}"
            },
            {
              "fieldId": "answer",
              "fieldValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('faq_answer', `Updated answer text`, 'string') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        -704,
        3920
      ],
      "id": "a22616fa-ca7b-44a1-9b34-ce4fb9540c4d",
      "name": "supabase FAQ update entry1",
      "credentials": {
        "supabaseApi": {
          "id": "2hVXrFAKtZdoviPZ",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json }}",
        "options": {
          "systemMessage": "=<important>You are working in n8n and output will not be read by anyone, your only method of communication is using tool calls</important>\n\nDate: {{ $now }}\n\nYou are Heimby's logistics coordinator agent. You are an expert at handling logistics for rental properties with minimal intervention and maximum efficiency.\n\nFocus on keeping this short, concise, but still happy\n\n# Guest support workflows:\n\n## General guest support agent\n\n1. Your job is to be factual and helpful, but never to helpful. Only use information available at the property database table or in the FAQ.\n2. You are allowed to use internal LLM knowledge if the guest asks general questions about what to do in an area, for example Bergen.\n3. If you do not know the answer to the question or you are lacking knowledge, send a message to the operator admin using the tool \"Telegram send chat to operator\". And then send a message to the booking or task that you are looking into it and will get back to them.\n4. If you are unsure about something, ask the operator admin using the tool \"Telegram send chat to operator\". This could be missing FAQ information or missing property information. It's better to ask than to guess.\n\n## Task coordination workflow\n\nYour job is to make sure that tasks are completed in a well manner. They usually follow this flow:\n\n1. A guests report an incident.\n2. Collect the full context of the incident and photos if needed, so that it is always well documented and good enough for potentially being sent for a quote request to a maintenence company.\n   You analyze whether this incident is something that the guest can resolve alone before escalating without making the guest annoyed.\n3. If this needs to be handled by a professional or the guest is not capable to handle it themselves, then you need to request a professional quote from our maintenence company.\n\nNormal task management flow:\n\n1. Guest reports incident, could be a broken item or bad cleaning\n2. You check if there are any open tasks related to this property using tool \"supabase get tasks\"\n3. If no existing task for this topic, add a new task by first fetching appropriate partners using tool \"supabase get partners\"\n4. Add the task using tool \"supabase add task\"\n\n## FAQ maintainer\n\nIf you get information from telegram from the operator, please add information to FAQ, either to specific property_id if you think this is a specific knowledge using tool \"supabase FAQ add by property_id\" or without property_id if you think this is general FAQ using tool \"supabase FAQ add general\".\n\n- Ensure you do not duplicate entries, check in FAQ \"supabase FAQ get all\" if you already have suitable FAQ covering it\n\n## Notes\n\n- Ensure to always send a chat message to the sender\n- If you meet any issues send a message with the issue using tool \"Telegram send chat to operator\"\n- Never overpromise to the guest, never say we will fix it immediately, rather say \"I will look into when we can fix this\"\n- If guests are aggressive or saying something is super urgent, do not fall in for the pressure. Keep calm and follow standard procedure.\n",
          "maxIterations": 20,
          "passthroughBinaryImages": true
        }
      },
      "id": "55aec60c-676e-431e-9dd7-3c179e4532eb",
      "name": "Heimby support and logistics coordinator1",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -1344,
        3696
      ]
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Add a specific FAQ for one property_id",
        "operation": "getAll",
        "tableId": "faq",
        "returnAll": true
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        -576,
        3920
      ],
      "id": "866b569f-5c3c-4ef1-bf26-1bd8ac351db0",
      "name": "supabase FAQ get all1",
      "credentials": {
        "supabaseApi": {
          "id": "2hVXrFAKtZdoviPZ",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Update property information, example access_instructions, wifi_ssid, wifi_password or other information",
        "operation": "update",
        "tableId": "properties",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $fromAI('id', `The property_id to update`, 'string') }}"
            }
          ]
        },
        "dataToSend": "autoMapInputData"
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        -448,
        3920
      ],
      "id": "092d5e0d-7cfa-4f7f-b316-4aa4933e283c",
      "name": "Supabase property update1",
      "credentials": {
        "supabaseApi": {
          "id": "2hVXrFAKtZdoviPZ",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "content": "# Chatbot",
        "height": 784,
        "width": 1216
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -3968,
        2608
      ],
      "id": "8a12ddef-aa97-472b-9d7e-da2a08e026d9",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "chat",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "booking_id",
              "condition": "eq",
              "keyValue": "={{ $('Parse-data2').item.json.booking_id ?? \"a7ad1cf2-d67e-49bc-85ee-65a4548df999\" }}"
            },
            {
              "keyName": "task_id",
              "condition": "eq",
              "keyValue": "={{ $('Parse-data2').item.json.task_id ?? \"a7ad1cf2-d67e-49bc-85ee-65a4548df999\" }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -2160,
        2800
      ],
      "id": "b9aa749c-22c1-4b40-97e6-f44769c919a1",
      "name": "Supabase get full chat",
      "credentials": {
        "supabaseApi": {
          "id": "2hVXrFAKtZdoviPZ",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "bookings",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "keyValue": "={{ $('Parse-data2').item.json.booking_id ?? \"352bb325-3a31-41b1-bd43-fba8d4fbacdc\" }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1936,
        2800
      ],
      "id": "5cc181cb-5a36-418d-b35c-2470cb91e49d",
      "name": "Get Booking",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "2hVXrFAKtZdoviPZ",
          "name": "Supabase account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Get property knowledge by property_id",
        "operation": "get",
        "tableId": "properties",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "keyValue": "={{ $fromAI('id', `the property_id to fetch information for`, 'string') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        -1440,
        3072
      ],
      "id": "cf0c6061-3022-4c5c-bea3-0b5e751e0a72",
      "name": "supabase get property",
      "credentials": {
        "supabaseApi": {
          "id": "2hVXrFAKtZdoviPZ",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "faq",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "property_id",
              "condition": "eq",
              "keyValue": "={{ $('Get Booking')?.item?.property_id ?? \"a7ad1cf2-d67e-49bc-85ee-65a4548df999\" }}"
            },
            {
              "keyName": "property_id",
              "condition": "is",
              "keyValue": "null"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1712,
        2800
      ],
      "id": "9ea474f8-9aef-49a1-821b-a73c37969f2c",
      "name": "Get FAQ",
      "credentials": {
        "supabaseApi": {
          "id": "2hVXrFAKtZdoviPZ",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "useCustomSchema": true,
        "operation": "get",
        "tableId": "properties",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "keyValue": "={{ ($('Get Booking').all().length == 0 ? null : $('Get Booking').item?.property_id ) ?? ($('Get Task').all().length == 0 ? null : $('Get Task')?.item?.property_id) ?? \"03789c8b-65e7-44bc-af8d-72b2e4aa6645\" }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1488,
        2800
      ],
      "id": "a0cd9624-f7b1-47ce-bbf9-54b3c51a909b",
      "name": "Get Property info",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "2hVXrFAKtZdoviPZ",
          "name": "Supabase account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Get chat log for a given booking_id. Useful when coordinating when the partner can come and do the task at the property where guests reside",
        "operation": "getAll",
        "tableId": "chat",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "booking_id",
              "condition": "eq",
              "keyValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('booking_id', `UUID of the booking to fetch chat messages for`, 'string') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        -1312,
        3120
      ],
      "id": "3f20ffae-3f1f-4534-a43c-85f1df95de19",
      "name": "supabase get chat by booking_id",
      "credentials": {
        "supabaseApi": {
          "id": "2hVXrFAKtZdoviPZ",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Get booking by booking_id, useful to fetch check-in info or know what property this booking is from",
        "operation": "get",
        "tableId": "bookings",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "keyValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('booking_id', `UUID of the booking to fetch`, 'string') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        -1184,
        3072
      ],
      "id": "70f5ce06-708c-4396-8490-523ed10ed889",
      "name": "supabase get booking",
      "credentials": {
        "supabaseApi": {
          "id": "2hVXrFAKtZdoviPZ",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return {\n\"FAQ\": $('Get FAQ').all(),\n\"chat\": $('Supabase get full chat').all(),\n\"Property\": $('Get Property info').all(),\n\"Booking\": $('Get Booking').all(),\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1264,
        2800
      ],
      "id": "13bdb71a-58e1-4a6c-a4fd-a33cb0ec9c85",
      "name": "Chat input data"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Add a general FAQ for all properties",
        "tableId": "faq",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "question",
              "fieldValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('faq_question', `The FAQ question text`, 'string') }}"
            },
            {
              "fieldId": "answer",
              "fieldValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('faq_answer', `The FAQ answer text`, 'string') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        -1056,
        3104
      ],
      "id": "7afedde4-6e0b-467d-92f1-b15322134925",
      "name": "supabase FAQ add general",
      "credentials": {
        "supabaseApi": {
          "id": "2hVXrFAKtZdoviPZ",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Add a specific FAQ for one property_id",
        "tableId": "faq",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "question",
              "fieldValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('faq_question', `The FAQ question text`, 'string') }}"
            },
            {
              "fieldId": "answer",
              "fieldValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('faq_answer', `The FAQ answer text`, 'string') }}"
            },
            {
              "fieldId": "property_id",
              "fieldValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('faq_property_id', `UUID of the property this FAQ entry is specific to. Leave empty for general FAQ entries`, 'string') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        -928,
        3072
      ],
      "id": "85d2411b-0e56-4054-a6b3-7101c90cd951",
      "name": "supabase FAQ add by property_id",
      "credentials": {
        "supabaseApi": {
          "id": "2hVXrFAKtZdoviPZ",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Use tool to update existing FAQ entry",
        "operation": "update",
        "tableId": "faq",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('faq_entry_id', `UUID of the FAQ entry to update`, 'string') }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "question",
              "fieldValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('faq_question', `Updated question text`, 'string') }}"
            },
            {
              "fieldId": "answer",
              "fieldValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('faq_answer', `Updated answer text`, 'string') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        -800,
        3104
      ],
      "id": "7df3fc33-b73d-45f2-a1e7-e5dc7ab9d9ca",
      "name": "supabase FAQ update entry",
      "credentials": {
        "supabaseApi": {
          "id": "2hVXrFAKtZdoviPZ",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Add a specific FAQ for one property_id",
        "operation": "getAll",
        "tableId": "faq",
        "returnAll": true
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        -672,
        3072
      ],
      "id": "ec37294a-94e7-4abe-b149-61aba308d82c",
      "name": "supabase FAQ get all",
      "credentials": {
        "supabaseApi": {
          "id": "2hVXrFAKtZdoviPZ",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Update property information, example access_instructions, wifi_ssid, wifi_password or other information",
        "operation": "update",
        "tableId": "properties",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $fromAI('id', `The property_id to update`, 'string') }}"
            }
          ]
        },
        "dataToSend": "autoMapInputData"
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        -544,
        3152
      ],
      "id": "dd01710a-ea27-4dcb-a3b4-71ead2a8c626",
      "name": "Supabase property update",
      "credentials": {
        "supabaseApi": {
          "id": "2hVXrFAKtZdoviPZ",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "content": "# Chatbot with Context",
        "height": 784,
        "width": 2528
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2656,
        2624
      ],
      "id": "fcd922b0-5b7c-4fdc-97d9-4d379dc00f83",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "message-sent",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -2608,
        2800
      ],
      "id": "c4a324aa-bb13-49cc-a456-f2bb0fbaca1f",
      "name": "Message sent from UI2",
      "webhookId": "1fbb2b6a-d6cf-473f-8005-1a2eb3a0e8fc",
      "disabled": true
    },
    {
      "parameters": {
        "model": "anthropic/claude-sonnet-4.5",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -1568,
        3120
      ],
      "id": "95c6ef41-c661-4764-a716-7739ccb0cb49",
      "name": "OpenRouter Chat Model3",
      "credentials": {
        "openRouterApi": {
          "id": "ul1655kEDxpYF40G",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "=7699630973",
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Text', ``, 'string') }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegramTool",
      "typeVersion": 1.2,
      "position": [
        -416,
        3072
      ],
      "id": "8a6a56d9-0300-48b2-ab09-cbe25814ec85",
      "name": "Telegram send chat to operator2",
      "webhookId": "b250e44b-7267-4f9a-8cb8-815cc01b196a",
      "credentials": {
        "telegramApi": {
          "id": "12uxr60S2EPkURR6",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\nreturn JSON.parse($input.first().json.body)"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2384,
        2800
      ],
      "id": "507d2307-a441-4ce6-b111-d5c36cff37f3",
      "name": "Parse-data2"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Use this tool to send a chat message to booking guest:\n- the guest by defining booking_id",
        "tableId": "chat",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "sender",
              "fieldValue": "agent"
            },
            {
              "fieldId": "message",
              "fieldValue": "={{ $fromAI('message', ``, 'string') }}"
            },
            {
              "fieldId": "booking_id",
              "fieldValue": "={{ $fromAI('booking_id', `booking_id if you want to communicate with the guest`, 'string') }}"
            },
            {
              "fieldId": "source",
              "fieldValue": "app"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        -288,
        3136
      ],
      "id": "cdbede71-9c63-48dc-976f-949aa3672a60",
      "name": "supabase add chat to booking2",
      "credentials": {
        "supabaseApi": {
          "id": "2hVXrFAKtZdoviPZ",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json }}",
        "options": {
          "systemMessage": "=<important>You are working in n8n and output will not be read by anyone, your only method of communication is using tool calls</important>\n\nDate: {{ $now }}\n\nYou are Heimby's logistics coordinator agent. You are an expert at handling logistics for rental properties with minimal intervention and maximum efficiency.\n\nFocus on keeping this short, concise, but still happy\n\n# Guest support workflows:\n\n## General guest support agent\n\n1. Your job is to be factual and helpful, but never to helpful. Only use information available at the property database table or in the FAQ.\n2. You are allowed to use internal LLM knowledge if the guest asks general questions about what to do in an area, for example Bergen.\n3. If you do not know the answer to the question or you are lacking knowledge, send a message to the operator admin using the tool \"Telegram send chat to operator\". And then send a message to the booking or task that you are looking into it and will get back to them.\n4. If you are unsure about something, ask the operator admin using the tool \"Telegram send chat to operator\". This could be missing FAQ information or missing property information. It's better to ask than to guess.\n\n## FAQ maintainer\n\nIf you get information from telegram from the operator, please add information to FAQ, either to specific property_id if you think this is a specific knowledge using tool \"supabase FAQ add by property_id\" or without property_id if you think this is general FAQ using tool \"supabase FAQ add general\".\n\n- Ensure you do not duplicate entries, check in FAQ \"supabase FAQ get all\" if you already have suitable FAQ covering it\n\n## Notes\n\n- Ensure to always send a chat message to the sender\n- If you meet any issues send a message with the issue using tool \"Telegram send chat to operator\"\n- Never overpromise to the guest, never say we will fix it immediately, rather say \"I will look into when we can fix this\"\n- If guests are aggressive or saying something is super urgent, do not fall in for the pressure. Keep calm and follow standard procedure.\n",
          "maxIterations": 20,
          "passthroughBinaryImages": true
        }
      },
      "id": "262b0fbf-5ceb-41f8-a061-e4c3685de369",
      "name": "Heimby support and logistics coordinator2",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -992,
        2848
      ]
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Fetches all open tasks related to this property",
        "operation": "getAll",
        "tableId": "tasks",
        "returnAll": true,
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "property_id",
              "condition": "eq",
              "keyValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('property_id', `UUID of the property to fetch tasks for`, 'string') }}"
            },
            {
              "keyName": "status",
              "condition": "neq",
              "keyValue": "cancelled"
            },
            {
              "keyName": "status",
              "condition": "neq",
              "keyValue": "completed"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        -1984,
        5120
      ],
      "id": "e12903fc-35a8-4413-805b-b93e66b00123",
      "name": "supabase get tasks",
      "credentials": {
        "supabaseApi": {
          "id": "2hVXrFAKtZdoviPZ",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "partners",
        "returnAll": true
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        -1904,
        4912
      ],
      "id": "97892e6f-9739-436a-b297-210caa075db0",
      "name": "Supabase get partners",
      "credentials": {
        "supabaseApi": {
          "id": "2hVXrFAKtZdoviPZ",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Add new tasks to system if no suitable existing tasks exist.",
        "tableId": "tasks",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "property_id",
              "fieldValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('property_id', `UUID of the property this task belongs to`, 'string') }}"
            },
            {
              "fieldId": "task_description",
              "fieldValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('task_description', `Clear description of the task to be performed`, 'string') }}"
            },
            {
              "fieldId": "can_start_after",
              "fieldValue": "={{ $fromAI('task_can_start_after', `ISO compatible date string ex: 2025-10-05T16:00:00.000Z`, 'string') }}"
            },
            {
              "fieldId": "due_date",
              "fieldValue": "={{ $fromAI('task_due_date', `ISO compatible date string ex: 2025-10-05T16:00:00.000Z`, 'string') }}"
            },
            {
              "fieldId": "type",
              "fieldValue": "={{ $fromAI('task_type', `Task category: cleaning, maintenance, inspection, or other`, 'string', 'maintenance') }}"
            },
            {
              "fieldId": "partner_id",
              "fieldValue": "={{ $fromAI('task_partner_id', `Fill partner.id from the list of partners fetched earliers`, 'string') }}"
            },
            {
              "fieldId": "status",
              "fieldValue": "pending"
            },
            {
              "fieldId": "booking_id",
              "fieldValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('booking_id', `UUID of the related booking, if this task originated from a guest report`, 'string') }}"
            },
            {
              "fieldId": "ai_reasoning",
              "fieldValue": "={{ $fromAI('ai_reasoning', `Document reasoning for creating this task, suggested workflow steps, and expected outcome`, 'string') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        -1824,
        5120
      ],
      "id": "805a8523-c9df-4071-b9a5-7cb1e73cd23d",
      "name": "supabase add task",
      "credentials": {
        "supabaseApi": {
          "id": "2hVXrFAKtZdoviPZ",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Update an existing task by it's id then insert the fields you want to update in the json",
        "operation": "update",
        "tableId": "tasks",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $fromAI('id', `The id of the task to update`, 'string') }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "can_start_after",
              "fieldValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('can_start_after', `ISO 8601 datetime: earliest the task can begin, e.g. 2025-10-05T16:00:00.000Z`, 'string') }}"
            },
            {
              "fieldId": "due_date",
              "fieldValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('due_date', `ISO 8601 datetime: task deadline, e.g. 2025-10-06T12:00:00.000Z`, 'string') }}"
            },
            {
              "fieldId": "type",
              "fieldValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('task_type', `Task category: cleaning, maintenance, inspection, or other`, 'string') }}"
            },
            {
              "fieldId": "partner_id",
              "fieldValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('partner_id', `UUID of the assigned partner. Fetch partners first and use the matching partner.id`, 'string') }}"
            },
            {
              "fieldId": "status",
              "fieldValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('task_status', `New task status. Must be one of: pending, confirmed, in_progress, completed, cancelled`, 'string') }}"
            },
            {
              "fieldId": "task_description",
              "fieldValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('task_description', `Clear description of the task to be performed`, 'string') }}"
            },
            {
              "fieldId": "ai_reasoning",
              "fieldValue": "={{ $fromAI('ai_reasoning', `Updated reasoning: current assessment and expected outcome`, 'string') }}"
            },
            {
              "fieldId": "action_log",
              "fieldValue": "={{ $fromAI('action_log', `Append to action log: describe the action taken, current status, and next steps`, 'string') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        -1664,
        5120
      ],
      "id": "65a36f01-1be8-4b0c-b8ef-412eac55f36f",
      "name": "Supabase update task",
      "credentials": {
        "supabaseApi": {
          "id": "2hVXrFAKtZdoviPZ",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "tasks",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "keyValue": "={{ $('Parse-data3').item.json.task_id ?? \"352bb325-3a31-41b1-bd43-fba8d4fbacdc\" }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -3216,
        4448
      ],
      "id": "b49a556d-b8e2-481c-8dba-1732a828809f",
      "name": "Get Task",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "2hVXrFAKtZdoviPZ",
          "name": "Supabase account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Get chat log for a given task_id. Useful when coordinating when the partner can come and do the task",
        "operation": "getAll",
        "tableId": "chat",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "task_id",
              "condition": "eq",
              "keyValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('task_id', `UUID of the task to fetch chat messages for`, 'string') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        -1344,
        5120
      ],
      "id": "17db3e3d-02bc-4a56-af17-b44366225ce5",
      "name": "supabase get chat by task_id",
      "credentials": {
        "supabaseApi": {
          "id": "2hVXrFAKtZdoviPZ",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Use this tool to send a chat message to partner via the task:\n- The task partner by defining task_id",
        "tableId": "chat",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "sender",
              "fieldValue": "agent"
            },
            {
              "fieldId": "message",
              "fieldValue": "={{ $fromAI('message', ``, 'string') }}"
            },
            {
              "fieldId": "task_id",
              "fieldValue": "={{ $fromAI('task_id', `task_id field, fill this to communicate with external partner`, 'string') }}"
            },
            {
              "fieldId": "source",
              "fieldValue": "app"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        -864,
        5120
      ],
      "id": "00453d26-ff3d-4458-ac81-a48184915175",
      "name": "supabase add chat to task",
      "credentials": {
        "supabaseApi": {
          "id": "2hVXrFAKtZdoviPZ",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Fetch a specific task by it's id",
        "operation": "get",
        "tableId": "tasks",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "keyValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('task_id', `UUID of the task to fetch`, 'string') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        -2128,
        5120
      ],
      "id": "541f165f-cdf4-41c3-a48a-5d22ca0d5c1b",
      "name": "supabase get task by id",
      "credentials": {
        "supabaseApi": {
          "id": "2hVXrFAKtZdoviPZ",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "content": "# AI Logistics coordinator with all tools but bad prompt",
        "height": 1168,
        "width": 3648
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -3952,
        4320
      ],
      "id": "732ccb1a-e17c-45d3-9c68-e2fb5ae71ea7",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "message-sent",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -3888,
        4448
      ],
      "id": "9057055c-a0f7-4b5c-ac30-b51287bb372f",
      "name": "Message sent from UI3",
      "webhookId": "1fbb2b6a-d6cf-473f-8005-1a2eb3a0e8fc",
      "disabled": true
    },
    {
      "parameters": {
        "model": "anthropic/claude-sonnet-4.5",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -2448,
        4752
      ],
      "id": "55cb9cf3-10f8-4f78-a258-e9910f52323d",
      "name": "OpenRouter Chat Model4",
      "credentials": {
        "openRouterApi": {
          "id": "ul1655kEDxpYF40G",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "chat",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "booking_id",
              "condition": "eq",
              "keyValue": "={{ $('Parse-data3').item.json.booking_id ?? \"a7ad1cf2-d67e-49bc-85ee-65a4548df999\" }}"
            },
            {
              "keyName": "task_id",
              "condition": "eq",
              "keyValue": "={{ $('Parse-data3').item.json.task_id ?? \"a7ad1cf2-d67e-49bc-85ee-65a4548df999\" }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -3440,
        4448
      ],
      "id": "52a90b38-7ebd-4b38-b858-e10292b032b9",
      "name": "Supabase get full chat2",
      "credentials": {
        "supabaseApi": {
          "id": "2hVXrFAKtZdoviPZ",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "bookings",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "keyValue": "={{ $('Parse-data3').item.json.booking_id ?? \"352bb325-3a31-41b1-bd43-fba8d4fbacdc\" }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -2992,
        4448
      ],
      "id": "7bea6cc2-3336-49a4-ada9-8361c14f0d81",
      "name": "Get Booking2",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "2hVXrFAKtZdoviPZ",
          "name": "Supabase account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "chatId": "=7699630973",
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Text', ``, 'string') }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegramTool",
      "typeVersion": 1.2,
      "position": [
        -2400,
        4896
      ],
      "id": "f53a4554-8531-4ec6-9ae7-ef500d801a23",
      "name": "Telegram send chat to operator3",
      "webhookId": "b250e44b-7267-4f9a-8cb8-815cc01b196a",
      "credentials": {
        "telegramApi": {
          "id": "12uxr60S2EPkURR6",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Get property knowledge by property_id",
        "operation": "get",
        "tableId": "properties",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "keyValue": "={{ $fromAI('id', `the property_id to fetch information for`, 'string') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        -2224,
        4896
      ],
      "id": "2467debc-d9aa-4385-8642-add69258c08c",
      "name": "supabase get property2",
      "credentials": {
        "supabaseApi": {
          "id": "2hVXrFAKtZdoviPZ",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\nreturn JSON.parse($input.first().json.body)"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3664,
        4448
      ],
      "id": "594ef33b-26ed-4e5a-921c-21d817a536db",
      "name": "Parse-data3"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "faq",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "property_id",
              "condition": "eq",
              "keyValue": "={{ $('Get Booking2')?.item?.property_id ?? \"a7ad1cf2-d67e-49bc-85ee-65a4548df999\" }}"
            },
            {
              "keyName": "property_id",
              "condition": "is",
              "keyValue": "null"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -2768,
        4448
      ],
      "id": "f7373320-d82b-4b8f-b3f4-37b2757a9b70",
      "name": "Get FAQ2",
      "credentials": {
        "supabaseApi": {
          "id": "2hVXrFAKtZdoviPZ",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "useCustomSchema": true,
        "operation": "get",
        "tableId": "properties",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "keyValue": "={{ ($('Get Booking2').all().length == 0 ? null : $('Get Booking2').item?.property_id ) ?? ($('Get Task').all().length == 0 ? null : $('Get Task')?.item?.property_id) ?? \"03789c8b-65e7-44bc-af8d-72b2e4aa6645\" }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -2544,
        4448
      ],
      "id": "de5b591b-8934-4185-96cf-6f3ed82850d3",
      "name": "Get Property info2",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "2hVXrFAKtZdoviPZ",
          "name": "Supabase account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Get chat log for a given booking_id. Useful when coordinating when the partner can come and do the task at the property where guests reside",
        "operation": "getAll",
        "tableId": "chat",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "booking_id",
              "condition": "eq",
              "keyValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('booking_id', `UUID of the booking to fetch chat messages for`, 'string') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        -1184,
        5120
      ],
      "id": "272faaad-1ea6-463f-a4d7-9669c41c2258",
      "name": "supabase get chat by booking_id2",
      "credentials": {
        "supabaseApi": {
          "id": "2hVXrFAKtZdoviPZ",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Use this tool to send a chat message to booking guest:\n- the guest by defining booking_id",
        "tableId": "chat",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "sender",
              "fieldValue": "agent"
            },
            {
              "fieldId": "message",
              "fieldValue": "={{ $fromAI('message', ``, 'string') }}"
            },
            {
              "fieldId": "booking_id",
              "fieldValue": "={{ $fromAI('booking_id', `booking_id if you want to communicate with the guest`, 'string') }}"
            },
            {
              "fieldId": "source",
              "fieldValue": "app"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        -1024,
        5120
      ],
      "id": "b3e30705-389a-4ec0-9468-a167ee61f1ec",
      "name": "supabase add chat to booking3",
      "credentials": {
        "supabaseApi": {
          "id": "2hVXrFAKtZdoviPZ",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Get booking by booking_id, useful to fetch check-in info or know what property this booking is from",
        "operation": "get",
        "tableId": "bookings",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "keyValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('booking_id', `UUID of the booking to fetch`, 'string') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        -1760,
        4912
      ],
      "id": "d9c49bc4-245f-4090-ab08-012cc3a0f3ed",
      "name": "supabase get booking2",
      "credentials": {
        "supabaseApi": {
          "id": "2hVXrFAKtZdoviPZ",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return {\n\"FAQ\": $('Get FAQ2').all(),\n\"chat\": $('Supabase get full chat2').all(),\n\"Property\": $('Get Property info2').all(),\n\"Booking\": $('Get Booking2').all(),\n\"Task\": $('Get Task').all(),\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2320,
        4448
      ],
      "id": "67267890-1428-4600-bc2a-e7f1d3a84762",
      "name": "Chat input data2"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Add a general FAQ for all properties",
        "tableId": "faq",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "question",
              "fieldValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('faq_question', `The FAQ question text`, 'string') }}"
            },
            {
              "fieldId": "answer",
              "fieldValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('faq_answer', `The FAQ answer text`, 'string') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        -896,
        4864
      ],
      "id": "4338cdda-5f04-4b1a-a71a-09a25192b1ab",
      "name": "supabase FAQ add general2",
      "credentials": {
        "supabaseApi": {
          "id": "2hVXrFAKtZdoviPZ",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Add a specific FAQ for one property_id",
        "tableId": "faq",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "question",
              "fieldValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('faq_question', `The FAQ question text`, 'string') }}"
            },
            {
              "fieldId": "answer",
              "fieldValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('faq_answer', `The FAQ answer text`, 'string') }}"
            },
            {
              "fieldId": "property_id",
              "fieldValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('faq_property_id', `UUID of the property this FAQ entry is specific to. Leave empty for general FAQ entries`, 'string') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        -736,
        4864
      ],
      "id": "3794da1c-1a2a-4f78-8797-e5a51405aa4f",
      "name": "supabase FAQ add by property_id2",
      "credentials": {
        "supabaseApi": {
          "id": "2hVXrFAKtZdoviPZ",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Use tool to update existing FAQ entry",
        "operation": "update",
        "tableId": "faq",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('faq_entry_id', `UUID of the FAQ entry to update`, 'string') }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "question",
              "fieldValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('faq_question', `Updated question text`, 'string') }}"
            },
            {
              "fieldId": "answer",
              "fieldValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('faq_answer', `Updated answer text`, 'string') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        -1056,
        4864
      ],
      "id": "7e3d2800-a59f-4ab0-bc8e-4ba931119b2f",
      "name": "supabase FAQ update entry2",
      "credentials": {
        "supabaseApi": {
          "id": "2hVXrFAKtZdoviPZ",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json }}",
        "options": {
          "systemMessage": "=<important>You are working in n8n and output will not be read by anyone, your only method of communication is using tool calls</important>\n\nDate: {{ $now }}\n\nYou are Heimby's logistics coordinator agent. You are an expert at handling logistics for rental properties with minimal intervention and maximum efficiency.\n\nFocus on keeping this short, concise, but still happy\n\n# Guest support workflows:\n\n## General guest support agent\n\n1. Your job is to be factual and helpful, but never to helpful. Only use information available at the property database table or in the FAQ.\n2. You are allowed to use internal LLM knowledge if the guest asks general questions about what to do in an area, for example Bergen.\n3. If you do not know the answer to the question or you are lacking knowledge, send a message to the operator admin using the tool \"Telegram send chat to operator\". And then send a message to the booking or task that you are looking into it and will get back to them.\n4. If you are unsure about something, ask the operator admin using the tool \"Telegram send chat to operator\". This could be missing FAQ information or missing property information. It's better to ask than to guess.\n\n## Task coordination workflow\n\nYour job is to make sure that tasks are completed in a well manner. They usually follow this flow:\n\n1. A guests report an incident.\n2. Collect the full context of the incident and photos if needed, so that it is always well documented and good enough for potentially being sent for a quote request to a maintenence company.\n   You analyze whether this incident is something that the guest can resolve alone before escalating without making the guest annoyed.\n3. If this needs to be handled by a professional or the guest is not capable to handle it themselves, then you need to request a professional quote from our maintenence company.\n\nNormal task management flow:\n\n1. Guest reports incident, could be a broken item or bad cleaning\n2. You check if there are any open tasks related to this property using tool \"supabase get tasks\"\n3. If no existing task for this topic, add a new task by first fetching appropriate partners using tool \"supabase get partners\"\n4. Add the task using tool \"supabase add task\"\n\n## FAQ maintainer\n\nIf you get information from telegram from the operator, please add information to FAQ, either to specific property_id if you think this is a specific knowledge using tool \"supabase FAQ add by property_id\" or without property_id if you think this is general FAQ using tool \"supabase FAQ add general\".\n\n- Ensure you do not duplicate entries, check in FAQ \"supabase FAQ get all\" if you already have suitable FAQ covering it\n\n## Notes\n\n- Ensure to always send a chat message to the sender\n- If you meet any issues send a message with the issue using tool \"Telegram send chat to operator\"\n- Never overpromise to the guest, never say we will fix it immediately, rather say \"I will look into when we can fix this\"\n- If guests are aggressive or saying something is super urgent, do not fall in for the pressure. Keep calm and follow standard procedure.\n",
          "maxIterations": 20,
          "passthroughBinaryImages": true
        }
      },
      "id": "bbba4d2e-024e-45c6-9784-b1c3c3a0545d",
      "name": "Heimby support and logistics coordinator3",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -1648,
        4640
      ]
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Add a specific FAQ for one property_id",
        "operation": "getAll",
        "tableId": "faq",
        "returnAll": true
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        -576,
        4864
      ],
      "id": "40cb439e-395d-4f81-9743-885f6d8647d0",
      "name": "supabase FAQ get all2",
      "credentials": {
        "supabaseApi": {
          "id": "2hVXrFAKtZdoviPZ",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Update property information, example access_instructions, wifi_ssid, wifi_password or other information",
        "operation": "update",
        "tableId": "properties",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $fromAI('id', `The property_id to update`, 'string') }}"
            }
          ]
        },
        "dataToSend": "autoMapInputData"
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        -2080,
        4896
      ],
      "id": "11b7245e-87f1-4ee5-b248-44e775292edd",
      "name": "Supabase property update2",
      "credentials": {
        "supabaseApi": {
          "id": "2hVXrFAKtZdoviPZ",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "partners",
        "returnAll": true
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        -1984,
        6160
      ],
      "id": "80b21425-1f8a-41ce-abc7-1b6595e5936c",
      "name": "Supabase get partners2",
      "credentials": {
        "supabaseApi": {
          "id": "2hVXrFAKtZdoviPZ",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Add new tasks to system if no suitable existing tasks exist.",
        "tableId": "tasks",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "property_id",
              "fieldValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('property_id', `UUID of the property this task belongs to`, 'string') }}"
            },
            {
              "fieldId": "task_description",
              "fieldValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('task_description', `Clear description of the task to be performed`, 'string') }}"
            },
            {
              "fieldId": "can_start_after",
              "fieldValue": "={{ $fromAI('task_can_start_after', `ISO compatible date string ex: 2025-10-05T16:00:00.000Z`, 'string') }}"
            },
            {
              "fieldId": "due_date",
              "fieldValue": "={{ $fromAI('task_due_date', `ISO compatible date string ex: 2025-10-05T16:00:00.000Z`, 'string') }}"
            },
            {
              "fieldId": "type",
              "fieldValue": "={{ $fromAI('task_type', `Task category: cleaning, maintenance, inspection, or other`, 'string', 'maintenance') }}"
            },
            {
              "fieldId": "partner_id",
              "fieldValue": "={{ $fromAI('task_partner_id', `Fill partner.id from the list of partners fetched earliers`, 'string') }}"
            },
            {
              "fieldId": "status",
              "fieldValue": "pending"
            },
            {
              "fieldId": "booking_id",
              "fieldValue": "={{ $fromAI('booking_id', `The booking_id to connect this task to`, 'string') }}"
            },
            {
              "fieldId": "ai_reasoning",
              "fieldValue": "={{ $fromAI('ai_reasoning', `Document reasoning for creating this task, suggested workflow steps, and expected outcome`, 'string') }}"
            },
            {
              "fieldId": "action_log",
              "fieldValue": "={{ $fromAI('action_log', `Document all the actions performed`, 'string') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        -1904,
        6368
      ],
      "id": "e2971612-82c8-4d23-8f28-6330a9af5f0a",
      "name": "supabase add task2",
      "credentials": {
        "supabaseApi": {
          "id": "2hVXrFAKtZdoviPZ",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Update an existing task by it's id then insert the fields you want to update in the json",
        "operation": "update",
        "tableId": "tasks",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $fromAI('id', `The id of the task to update`, 'string') }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "can_start_after",
              "fieldValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('can_start_after', `ISO 8601 datetime: earliest the task can begin, e.g. 2025-10-05T16:00:00.000Z`, 'string') }}"
            },
            {
              "fieldId": "due_date",
              "fieldValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('due_date', `ISO 8601 datetime: task deadline, e.g. 2025-10-06T12:00:00.000Z`, 'string') }}"
            },
            {
              "fieldId": "type",
              "fieldValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('task_type', `Task category: cleaning, maintenance, inspection, or other`, 'string') }}"
            },
            {
              "fieldId": "partner_id",
              "fieldValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('partner_id', `UUID of the assigned partner. Fetch partners first and use the matching partner.id`, 'string') }}"
            },
            {
              "fieldId": "status",
              "fieldValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('task_status', `New task status. Must be one of: pending, confirmed, in_progress, completed, cancelled`, 'string') }}"
            },
            {
              "fieldId": "task_description",
              "fieldValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('task_description', `Clear description of the task to be performed`, 'string') }}"
            },
            {
              "fieldId": "ai_reasoning",
              "fieldValue": "={{ $fromAI('ai_reasoning', `Updated reasoning: current assessment and expected outcome`, 'string') }}"
            },
            {
              "fieldId": "action_log",
              "fieldValue": "={{ $fromAI('action_log', `Append to action log: describe the action taken, current status, and next steps`, 'string') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        -1744,
        6368
      ],
      "id": "bc91513a-4e5e-4ab1-a6e4-d095bda422c7",
      "name": "Supabase update task1",
      "credentials": {
        "supabaseApi": {
          "id": "2hVXrFAKtZdoviPZ",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "tasks",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "keyValue": "={{ $('Parse-data4').item.json.task_id ?? \"352bb325-3a31-41b1-bd43-fba8d4fbacdc\" }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -3216,
        5696
      ],
      "id": "25129f54-c167-4aae-97d9-0203f0dfc423",
      "name": "Get Task2",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "2hVXrFAKtZdoviPZ",
          "name": "Supabase account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Get chat log for a given task_id. Useful when coordinating when the partner can come and do the task",
        "operation": "getAll",
        "tableId": "chat",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "task_id",
              "condition": "eq",
              "keyValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('task_id', `UUID of the task to fetch chat messages for`, 'string') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        -1424,
        6368
      ],
      "id": "26f7efe5-81b6-44bf-a33d-e97a35cbdaee",
      "name": "supabase get chat by task_id1",
      "credentials": {
        "supabaseApi": {
          "id": "2hVXrFAKtZdoviPZ",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Use this tool to send a chat message to partner via the task:\n- The task partner by defining task_id",
        "tableId": "chat",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "sender",
              "fieldValue": "agent"
            },
            {
              "fieldId": "message",
              "fieldValue": "={{ $fromAI('message', ``, 'string') }}"
            },
            {
              "fieldId": "task_id",
              "fieldValue": "={{ $fromAI('task_id', `task_id field, fill this to communicate with external partner`, 'string') }}"
            },
            {
              "fieldId": "source",
              "fieldValue": "app"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        -944,
        6368
      ],
      "id": "19131b92-5113-4703-823d-a05d2e64d409",
      "name": "supabase add chat to task1",
      "credentials": {
        "supabaseApi": {
          "id": "2hVXrFAKtZdoviPZ",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Fetch a specific task by it's id",
        "operation": "get",
        "tableId": "tasks",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "keyValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('task_id', `UUID of the task to fetch`, 'string') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        -2208,
        6368
      ],
      "id": "ce9b581d-3f68-4f01-a301-20f985533627",
      "name": "supabase get task by id1",
      "credentials": {
        "supabaseApi": {
          "id": "2hVXrFAKtZdoviPZ",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "content": "# AI Logistics coordinator",
        "height": 1120,
        "width": 3648
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -3952,
        5568
      ],
      "id": "8c4891d7-0531-4757-ba66-9c0b56ca7c09",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "message-sent",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -3888,
        5696
      ],
      "id": "89af8eac-efff-4fa0-89df-0fff01bbd136",
      "name": "Message sent from UI4",
      "webhookId": "1fbb2b6a-d6cf-473f-8005-1a2eb3a0e8fc"
    },
    {
      "parameters": {
        "model": "anthropic/claude-sonnet-4.5",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -2528,
        6000
      ],
      "id": "ec30bfb7-512a-4b93-97f4-f7bd4985a1d2",
      "name": "OpenRouter Chat Model5",
      "credentials": {
        "openRouterApi": {
          "id": "ul1655kEDxpYF40G",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "chat",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "booking_id",
              "condition": "eq",
              "keyValue": "={{ $('Parse-data4').item.json.booking_id ?? \"a7ad1cf2-d67e-49bc-85ee-65a4548df999\" }}"
            },
            {
              "keyName": "task_id",
              "condition": "eq",
              "keyValue": "={{ $('Parse-data4').item.json.task_id ?? \"a7ad1cf2-d67e-49bc-85ee-65a4548df999\" }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -3440,
        5696
      ],
      "id": "eb0f6b7a-63cb-4588-a505-2609f0a25179",
      "name": "Supabase get full chat3",
      "credentials": {
        "supabaseApi": {
          "id": "2hVXrFAKtZdoviPZ",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "bookings",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "keyValue": "={{ $('Parse-data4').item.json.booking_id ?? \"352bb325-3a31-41b1-bd43-fba8d4fbacdc\" }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -2992,
        5696
      ],
      "id": "fe51281e-f773-44b1-a7a5-4ed5c3346ff5",
      "name": "Get Booking3",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "2hVXrFAKtZdoviPZ",
          "name": "Supabase account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "chatId": "=7699630973",
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Text', ``, 'string') }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegramTool",
      "typeVersion": 1.2,
      "position": [
        -2480,
        6144
      ],
      "id": "af29333d-3190-45cb-ab9a-957c338218d8",
      "name": "Telegram send chat to operator4",
      "webhookId": "b250e44b-7267-4f9a-8cb8-815cc01b196a",
      "credentials": {
        "telegramApi": {
          "id": "12uxr60S2EPkURR6",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Get property knowledge by property_id",
        "operation": "get",
        "tableId": "properties",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "keyValue": "={{ $fromAI('id', `the property_id to fetch information for`, 'string') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        -2304,
        6144
      ],
      "id": "4c4797e9-2c7e-4b4b-8e2c-26e7a9e95ee8",
      "name": "supabase get property3",
      "credentials": {
        "supabaseApi": {
          "id": "2hVXrFAKtZdoviPZ",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\nreturn JSON.parse($input.first().json.body)"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3664,
        5696
      ],
      "id": "b01746e8-441c-40de-adcc-856b62129f7e",
      "name": "Parse-data4"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "faq",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "property_id",
              "condition": "eq",
              "keyValue": "={{ $('Get Booking3')?.item?.property_id ?? \"a7ad1cf2-d67e-49bc-85ee-65a4548df999\" }}"
            },
            {
              "keyName": "property_id",
              "condition": "is",
              "keyValue": "null"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -2768,
        5696
      ],
      "id": "815d6351-856c-4aaa-9886-bc5c1673e647",
      "name": "Get FAQ3",
      "credentials": {
        "supabaseApi": {
          "id": "2hVXrFAKtZdoviPZ",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "useCustomSchema": true,
        "operation": "get",
        "tableId": "properties",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "keyValue": "={{ ($('Get Booking3').all().length == 0 ? null : $('Get Booking3').item?.property_id ) ?? ($('Get Task2').all().length == 0 ? null : $('Get Task2')?.item?.property_id) ?? \"03789c8b-65e7-44bc-af8d-72b2e4aa6645\" }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -2544,
        5696
      ],
      "id": "41055c22-09a3-4bed-91f0-08ea2f84f3ae",
      "name": "Get Property info3",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "2hVXrFAKtZdoviPZ",
          "name": "Supabase account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Get chat log for a given booking_id. Useful when coordinating when the partner can come and do the task at the property where guests reside",
        "operation": "getAll",
        "tableId": "chat",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "booking_id",
              "condition": "eq",
              "keyValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('booking_id', `UUID of the booking to fetch chat messages for`, 'string') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        -1264,
        6368
      ],
      "id": "f5b532a2-b01e-4635-82fe-2e08f207b3c8",
      "name": "supabase get chat by booking_id3",
      "credentials": {
        "supabaseApi": {
          "id": "2hVXrFAKtZdoviPZ",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Use this tool to send a chat message to booking guest:\n- the guest by defining booking_id",
        "tableId": "chat",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "sender",
              "fieldValue": "agent"
            },
            {
              "fieldId": "message",
              "fieldValue": "={{ $fromAI('message', ``, 'string') }}"
            },
            {
              "fieldId": "booking_id",
              "fieldValue": "={{ $fromAI('booking_id', `booking_id if you want to communicate with the guest`, 'string') }}"
            },
            {
              "fieldId": "source",
              "fieldValue": "app"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        -1104,
        6368
      ],
      "id": "ad6282c8-89b5-4c42-ab74-d8b21dc44a94",
      "name": "supabase add chat to booking4",
      "credentials": {
        "supabaseApi": {
          "id": "2hVXrFAKtZdoviPZ",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Get booking by booking_id, useful to fetch check-in info or know what property this booking is from",
        "operation": "get",
        "tableId": "bookings",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "keyValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('booking_id', `UUID of the booking to fetch`, 'string') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        -1840,
        6160
      ],
      "id": "af99934b-a963-4b6d-8eb6-dcf859200ec3",
      "name": "supabase get booking3",
      "credentials": {
        "supabaseApi": {
          "id": "2hVXrFAKtZdoviPZ",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return {\n\"FAQ\": $('Get FAQ3').all(),\n\"chat\": $('Supabase get full chat3').all(),\n\"Property\": $('Get Property info3').all(),\n\"Booking\": $('Get Booking3').all(),\n\"Task\": $('Get Task2').all(),\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2320,
        5696
      ],
      "id": "baf8afc9-9264-4024-bd13-27a0449fa62e",
      "name": "Chat input data3"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Add a general FAQ for all properties",
        "tableId": "faq",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "question",
              "fieldValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('faq_question', `The FAQ question text`, 'string') }}"
            },
            {
              "fieldId": "answer",
              "fieldValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('faq_answer', `The FAQ answer text`, 'string') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        -976,
        6112
      ],
      "id": "a9a95208-51e6-47f5-b62d-59282b2ff2dd",
      "name": "supabase FAQ add general3",
      "credentials": {
        "supabaseApi": {
          "id": "2hVXrFAKtZdoviPZ",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Add a specific FAQ for one property_id",
        "tableId": "faq",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "question",
              "fieldValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('faq_question', `The FAQ question text`, 'string') }}"
            },
            {
              "fieldId": "answer",
              "fieldValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('faq_answer', `The FAQ answer text`, 'string') }}"
            },
            {
              "fieldId": "property_id",
              "fieldValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('faq_property_id', `UUID of the property this FAQ entry is specific to. Leave empty for general FAQ entries`, 'string') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        -816,
        6112
      ],
      "id": "31e4f339-13d5-4fcd-b6eb-99b7ebd02894",
      "name": "supabase FAQ add by property_id3",
      "credentials": {
        "supabaseApi": {
          "id": "2hVXrFAKtZdoviPZ",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Use tool to update existing FAQ entry",
        "operation": "update",
        "tableId": "faq",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('faq_entry_id', `UUID of the FAQ entry to update`, 'string') }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "question",
              "fieldValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('faq_question', `Updated question text`, 'string') }}"
            },
            {
              "fieldId": "answer",
              "fieldValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('faq_answer', `Updated answer text`, 'string') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        -1136,
        6112
      ],
      "id": "28daa996-fd17-4641-be77-d46d02db8358",
      "name": "supabase FAQ update entry3",
      "credentials": {
        "supabaseApi": {
          "id": "2hVXrFAKtZdoviPZ",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json }}",
        "options": {
          "systemMessage": "=<important>You are working in n8n and output will not be read by anyone, your only method of communication is using tool calls</important>\n\nDate: {{ $now }}\n\nYou are Heimby's logistics coordinator agent. You are an expert at handling logistics for rental properties with minimal intervention and maximum efficiency.\n\nFocus on keeping this short, concise, but still happy\n\n# Guest support workflows:\n\n## General guest support agent\n\n1. Your job is to be factual and helpful, but never to helpful. Only use information available at the property database table or in the FAQ.\n2. You are allowed to use internal LLM knowledge if the guest asks general questions about what to do in an area, for example Bergen.\n3. If you do not know the answer to the question or you are lacking knowledge, send a message to the operator admin using the tool \"Telegram send chat to operator\". And then send a message to the booking or task that you are looking into it and will get back to them.\n4. If you are unsure about something, ask the operator admin using the tool \"Telegram send chat to operator\". This could be missing FAQ information or missing property information. It's better to ask than to guess.\n\n## Deciding when to create a task vs. answering directly\n\nBefore creating a task, assess whether the guest's question actually requires follow-up actions:\n\n**Answer directly (no task needed)** when:\n- The answer is available in the FAQ or property information (e.g. WiFi password, check-out time, parking instructions)\n- The guest asks general area questions (e.g. restaurant recommendations, things to do)\n- The question can be fully resolved in a single message with no further action required\n\n**Create a task** when:\n- The issue requires coordination with a partner or maintenance company (e.g. broken appliance, plumbing issue)\n- The issue requires physical follow-up (e.g. missing items, cleaning complaint)\n- You need to ask the operator or property manager for additional information before you can resolve it\n- The issue cannot be resolved in a single interaction and needs tracking to ensure it is not forgotten\n\nWhen creating a task, always populate the `ai_reasoning` field with:\n1. **Reasoning**: Why this requires a task and cannot be answered directly\n2. **Suggested workflow**: The steps needed to resolve the issue (e.g. \"Ask property manager on Telegram about X\", \"Request quote from maintenance partner\", \"Update FAQ with the answer once confirmed\")\n3. **Expected outcome**: What the resolved state looks like\n\nThis ensures humans can review the suggested process, understand the reasoning, and verify that all tasks are followed up on.\n\n## Task coordination workflow\n\nYour job is to make sure that tasks are completed in a well manner. They usually follow this flow:\n\n1. A guests report an incident.\n2. Collect the full context of the incident and photos if needed, so that it is always well documented and good enough for potentially being sent for a quote request to a maintenence company.\n   You analyze whether this incident is something that the guest can resolve alone before escalating without making the guest annoyed.\n3. If this needs to be handled by a professional or the guest is not capable to handle it themselves, then you need to request a professional quote from our maintenence company.\n\nNormal task management flow:\n\n1. Guest reports incident, could be a broken item or bad cleaning\n2. You check if there are any open tasks related to this property using tool \"supabase get tasks\"\n3. If no existing task for this topic, add a new task by first fetching appropriate partners using tool \"Supabase get partners\"\n4. Add the task using tool \"supabase add task\" — populate `ai_reasoning` with your reasoning, suggested workflow, and expected outcome\n5. Send a chat message to the partner by using tool \"supabase add chat to task\" by populating task_id field, where you ask if task is accepted\n6. Send chat message to guest acknowledging the damage and informing that a task has been created using tool \"supabase add chat to booking\" by populating booking_id field\n\n7. When task is created start the coordination where your goal is to find a suitable time for the partner to perform the task. Ask the partner what timeframes works for them\n8. Use the partner's preferred time to ask the guests using tool \"supabase add chat to booking\" if that works for them.\n9. If the time does not work for the guest, ask for a different time and continue until both parties agree.\n10. Then send access instructions for this property to the partner so they can perform their task\n\n11. If partner send message saying they have started or completed the task, update the status of the task using tool \"Supabase update task\" to reflect the new status, example \"status: completed\" or \"status: in_progress\", and send message to guest with the new task status.\n    Valid task statuses: \"pending\", \"confirmed\", \"in_progress\", \"cancelled\", \"completed\".\n    Use tools \"supabase get chat by booking_id\" and \"supabase get chat by task_id\" to get current status of the opposing party.\n    Use tool \"supabase get task by id\" to fetch a specific task's current state before updating it.\n\n12. If partner does not give a status update, ask them what the status is.\n\n## Keeping tasks updated\n\nEvery time you take an action related to a task, update the task using tool \"Supabase update task\" with both:\n\n**`ai_reasoning`** — Update with your current assessment:\n- Why the task is in its current state\n- What the suggested next steps are\n- What you are waiting for\n\n**`action_log`** — Append a log entry describing:\n- What action you just took (e.g. \"Contacted partner X for quote\", \"Asked guest about available times\")\n- The outcome or response received\n\nThis creates a running log on the task itself so that any human reviewing the task can immediately understand what has happened, why, and what comes next. Never leave a task without up-to-date `ai_reasoning` and `action_log`.\n\n## FAQ maintainer\n\nIf you get information from telegram from the operator, please add information to FAQ, either to specific property_id if you think this is a specific knowledge using tool \"supabase FAQ add by property_id\" or without property_id if you think this is general FAQ using tool \"supabase FAQ add general\".\n\n- Ensure you do not duplicate entries, check in FAQ \"supabase FAQ get all\" if you already have suitable FAQ covering it\n- If an existing FAQ entry needs to be corrected or expanded, use tool \"supabase FAQ update entry\" to update it instead of adding a duplicate\n\n## Notes\n\n- Ensure to always send a chat message to the sender\n- If you meet any issues send a message with the issue using tool \"Telegram send chat to operator\"\n- Never overpromise to the guest, never say we will fix it immediately, rather say \"I will look into when we can fix this\"\n- If guests are aggressive or saying something is super urgent, do not fall in for the pressure. Keep calm and follow standard procedure.\n- Use tool \"supabase get booking\" to fetch booking details (check-in/out dates, property_id) when needed\n- Use tool \"supabase get property\" to fetch property details (WiFi, access instructions) when answering guest questions\n- Use tool \"Supabase property update\" to update property information when the operator provides new details\n",
          "maxIterations": 20,
          "passthroughBinaryImages": true
        }
      },
      "id": "814fae05-616d-4688-bc4f-c6c1eba38bae",
      "name": "Heimby support and logistics coordinator4",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -1728,
        5888
      ]
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Add a specific FAQ for one property_id",
        "operation": "getAll",
        "tableId": "faq",
        "returnAll": true
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        -656,
        6112
      ],
      "id": "b9de72f6-da1f-454e-a2c5-372e063677f6",
      "name": "supabase FAQ get all3",
      "credentials": {
        "supabaseApi": {
          "id": "2hVXrFAKtZdoviPZ",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Update property information, example access_instructions, wifi_ssid, wifi_password or other information",
        "operation": "update",
        "tableId": "properties",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $fromAI('id', `The property_id to update`, 'string') }}"
            }
          ]
        },
        "dataToSend": "autoMapInputData"
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        -2160,
        6144
      ],
      "id": "bdc00557-5322-4cb1-9343-06289c50b748",
      "name": "Supabase property update3",
      "credentials": {
        "supabaseApi": {
          "id": "2hVXrFAKtZdoviPZ",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Fetches all open tasks related to this property",
        "operation": "getAll",
        "tableId": "tasks",
        "returnAll": true,
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "property_id",
              "condition": "eq",
              "keyValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('property_id', `UUID of the property to fetch tasks for`, 'string') }}"
            },
            {
              "keyName": "status",
              "condition": "neq",
              "keyValue": "cancelled"
            },
            {
              "keyName": "status",
              "condition": "neq",
              "keyValue": "completed"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        -2064,
        6368
      ],
      "id": "174b734d-044e-4786-8948-789658d42bd2",
      "name": "supabase get tasks for property",
      "credentials": {
        "supabaseApi": {
          "id": "2hVXrFAKtZdoviPZ",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "content": "# Follow up unsolved tasks\nTriggered from frontend. Fetches all unsolved tasks and runs the AI agent on each to take follow-up actions.",
        "height": 912,
        "width": 2800
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -3968,
        7072
      ],
      "id": "fu010001-face-4000-b000-000000000001",
      "name": "Sticky Note Follow Up"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "follow-up-unsolved-tasks",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -3904,
        7200
      ],
      "id": "fu010002-face-4000-b000-000000000002",
      "name": "Follow up unsolved tasks webhook",
      "webhookId": "c1a2b3d4-e5f6-4789-abcd-ef0123456789"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "tasks",
        "returnAll": true,
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "status",
              "condition": "neq",
              "keyValue": "cancelled"
            },
            {
              "keyName": "status",
              "condition": "neq",
              "keyValue": "completed"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -3456,
        7200
      ],
      "id": "fu010003-face-4000-b000-000000000003",
      "name": "Supabase get all unsolved tasks",
      "credentials": {
        "supabaseApi": {
          "id": "2hVXrFAKtZdoviPZ",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const tasks = $input.all().map(item => item.json);\nreturn {\n  \"UnsolvedTasks\": tasks\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3008,
        7200
      ],
      "id": "fu010004-face-4000-b000-000000000004",
      "name": "Prepare follow-up context"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json }}",
        "options": {
          "systemMessage": "=<important>You are working in n8n and output will not be read by anyone, your only method of communication is using tool calls</important>\n\nDate: {{ $now }}\n\nYou are Heimby's logistics coordinator agent. You have been triggered to systematically follow up on all unsolved tasks.\n\n## Your objective:\n\nReview ALL unsolved tasks provided in the UnsolvedTasks array. For each task, work through it in order:\n\n1. **Assess current state**: Review task description, status, action_log, and ai_reasoning\n2. **Check communication history**: Use \"supabase get chat by task_id FU\" to see existing messages with the partner\n3. **Take action based on task status**:\n   - `pending`: If no partner has been contacted yet, check if a partner is assigned. If yes, send a message via \"supabase add chat to task FU\" to initiate contact and confirm job details and expected timeline. If no partner is assigned, use \"supabase get partners FU\" to find a suitable one, update the task with the partner_id, then contact them.\n   - `confirmed`: Check if the partner has responded with a scheduled date. If the task is due soon or overdue with no update, send a follow-up reminder via \"supabase add chat to task FU\"\n   - `in_progress`: Check for recent activity in the chat. If no activity and task is near or past due date, send a follow-up message to the partner\n4. **Always update the task**: After any action, update the task using \"Supabase update task FU\" - append to action_log what you did and what the next expected steps are\n5. **Escalate if stuck**: If a task is past its due_date, has been pending with no assigned partner, or the partner appears unresponsive, notify the operator using \"Telegram send chat to operator FU\"\n\n## Rules:\n- Be concise and professional in all messages to partners\n- Never mark a task as completed unless you have explicit confirmation it is done\n- If uncertain about anything, alert the operator rather than guessing\n- Process EVERY task in the list — do not skip any\n- If there are no unsolved tasks, send a Telegram message to the operator confirming all tasks are on track\n",
          "maxIterations": 50,
          "passthroughBinaryImages": false
        }
      },
      "id": "fu010005-face-4000-b000-000000000005",
      "name": "Follow up unsolved tasks coordinator",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -2560,
        7200
      ]
    },
    {
      "parameters": {
        "model": "anthropic/claude-sonnet-4.5",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -2688,
        7584
      ],
      "id": "fu010006-face-4000-b000-000000000006",
      "name": "OpenRouter follow-up model",
      "credentials": {
        "openRouterApi": {
          "id": "ul1655kEDxpYF40G",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "=7699630973",
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('message_to_operator', `The message to send to the operator. Include task id(s), what actions were taken, what is blocked, and what you need from the operator.`, 'string') }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegramTool",
      "typeVersion": 1.2,
      "position": [
        -2560,
        7584
      ],
      "id": "fu010007-face-4000-b000-000000000007",
      "name": "Telegram send chat to operator FU",
      "webhookId": "b250e44b-7267-4f9a-8cb8-815cc01b196a",
      "credentials": {
        "telegramApi": {
          "id": "12uxr60S2EPkURR6",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Update an existing task by its id. Use to update status, action_log, ai_reasoning, partner_id, can_start_after, due_date, etc.",
        "operation": "update",
        "tableId": "tasks",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $fromAI('id', `The id of the task to update`, 'string') }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "can_start_after",
              "fieldValue": "={{ $fromAI('can_start_after', `ISO 8601 datetime string for the earliest the task can begin, e.g. 2025-10-05T16:00:00.000Z. Only provide if you need to change the start window.`, 'string') }}"
            },
            {
              "fieldId": "due_date",
              "fieldValue": "={{ $fromAI('due_date', `ISO 8601 datetime string for the task deadline, e.g. 2025-10-06T12:00:00.000Z. Only provide if you need to change the deadline.`, 'string') }}"
            },
            {
              "fieldId": "type",
              "fieldValue": "={{ $fromAI('task_type', `Task category. Must be one of: cleaning, maintenance, inspection, other`, 'string') }}"
            },
            {
              "fieldId": "partner_id",
              "fieldValue": "={{ $fromAI('partner_id', `UUID of the partner responsible for this task. Fetch the partners list first using supabase get partners FU and use the matching partner.id`, 'string') }}"
            },
            {
              "fieldId": "status",
              "fieldValue": "={{ $fromAI('task_status', `New status for the task. Must be one of: pending, confirmed, in_progress, completed, cancelled`, 'string') }}"
            },
            {
              "fieldId": "task_description",
              "fieldValue": "={{ $fromAI('task_description', `Updated description of the task. Only provide if you need to clarify or expand on the existing description.`, 'string') }}"
            },
            {
              "fieldId": "ai_reasoning",
              "fieldValue": "={{ $fromAI('ai_reasoning', `Your updated assessment: why the task is in its current state, what has been tried, and what the expected resolution path is`, 'string') }}"
            },
            {
              "fieldId": "action_log",
              "fieldValue": "={{ $fromAI('action_log', `Log entry for this follow-up run: describe the specific action taken (e.g. sent reminder to partner, escalated to operator), current status, and next expected steps`, 'string') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        -2432,
        7584
      ],
      "id": "fu010008-face-4000-b000-000000000008",
      "name": "Supabase update task FU",
      "credentials": {
        "supabaseApi": {
          "id": "2hVXrFAKtZdoviPZ",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Use this tool to send a chat message to the partner via the task channel",
        "tableId": "chat",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "sender",
              "fieldValue": "agent"
            },
            {
              "fieldId": "message",
              "fieldValue": "={{ $fromAI('message_to_partner', `The message to send to the partner. Be professional and concise. Include relevant task details, any deadlines, and what action you expect from them.`, 'string') }}"
            },
            {
              "fieldId": "task_id",
              "fieldValue": "={{ $fromAI('task_id', `UUID of the task this message belongs to. The partner sees this in their task chat thread.`, 'string') }}"
            },
            {
              "fieldId": "source",
              "fieldValue": "app"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        -2304,
        7584
      ],
      "id": "fu010009-face-4000-b000-000000000009",
      "name": "supabase add chat to task FU",
      "credentials": {
        "supabaseApi": {
          "id": "2hVXrFAKtZdoviPZ",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Get the full chat log for a given task_id. Use to check existing communication with the partner.",
        "operation": "getAll",
        "tableId": "chat",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "task_id",
              "condition": "eq",
              "keyValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('task_id', `The task_id to get chat history for`, 'string') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        -2176,
        7584
      ],
      "id": "fu010010-face-4000-b000-000000000010",
      "name": "supabase get chat by task_id FU",
      "credentials": {
        "supabaseApi": {
          "id": "2hVXrFAKtZdoviPZ",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Fetch full details of a specific task by its id",
        "operation": "get",
        "tableId": "tasks",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "keyValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('id', `The task id to fetch`, 'string') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        -2048,
        7584
      ],
      "id": "fu010011-face-4000-b000-000000000011",
      "name": "supabase get task by id FU",
      "credentials": {
        "supabaseApi": {
          "id": "2hVXrFAKtZdoviPZ",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "partners",
        "returnAll": true
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        -1920,
        7584
      ],
      "id": "fu010012-face-4000-b000-000000000012",
      "name": "supabase get partners FU",
      "credentials": {
        "supabaseApi": {
          "id": "2hVXrFAKtZdoviPZ",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Get property details by property_id",
        "operation": "get",
        "tableId": "properties",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "keyValue": "={{ $fromAI('id', `The property_id to fetch`, 'string') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        -1792,
        7584
      ],
      "id": "fu010013-face-4000-b000-000000000013",
      "name": "supabase get property FU",
      "credentials": {
        "supabaseApi": {
          "id": "2hVXrFAKtZdoviPZ",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Get booking details by booking_id. Useful to check guest info and check-in/out dates.",
        "operation": "get",
        "tableId": "bookings",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "keyValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('id', `The booking_id to fetch`, 'string') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        -1664,
        7584
      ],
      "id": "fu010014-face-4000-b000-000000000014",
      "name": "supabase get booking FU",
      "credentials": {
        "supabaseApi": {
          "id": "2hVXrFAKtZdoviPZ",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Send a chat message to the booking guest by specifying booking_id",
        "tableId": "chat",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "sender",
              "fieldValue": "agent"
            },
            {
              "fieldId": "message",
              "fieldValue": "={{ $fromAI('message_to_guest', `The message to send to the guest. Be friendly and reassuring. Keep it brief and avoid making specific time promises.`, 'string') }}"
            },
            {
              "fieldId": "booking_id",
              "fieldValue": "={{ $fromAI('booking_id', `UUID of the booking whose guest you want to message`, 'string') }}"
            },
            {
              "fieldId": "source",
              "fieldValue": "app"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        -1536,
        7584
      ],
      "id": "fu010015-face-4000-b000-000000000015",
      "name": "supabase add chat to booking FU",
      "credentials": {
        "supabaseApi": {
          "id": "2hVXrFAKtZdoviPZ",
          "name": "Supabase account"
        }
      }
    }
  ],
  "connections": {
    "Message sent from UI": {
      "main": [
        [
          {
            "node": "Parse-data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Heimby support and logistics coordinator",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Telegram send chat to operator": {
      "ai_tool": [
        [
          {
            "node": "Heimby support and logistics coordinator",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Parse-data": {
      "main": [
        [
          {
            "node": "Heimby support and logistics coordinator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "supabase add chat to booking": {
      "ai_tool": [
        [
          {
            "node": "Heimby support and logistics coordinator",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger1": {
      "main": [
        [
          {
            "node": "Heimby support and logistics coordinator4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message sent from UI1": {
      "main": [
        [
          {
            "node": "Parse-data1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Heimby support and logistics coordinator1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Supabase get full chat1": {
      "main": [
        [
          {
            "node": "Get Task1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Booking1": {
      "main": [
        [
          {
            "node": "Get FAQ1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram send chat to operator1": {
      "ai_tool": [
        [
          {
            "node": "Heimby support and logistics coordinator1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "supabase get property1": {
      "ai_tool": [
        [
          {
            "node": "Heimby support and logistics coordinator1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "supabase get tasks1": {
      "ai_tool": [
        [
          {
            "node": "Heimby support and logistics coordinator1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Supabase get partners1": {
      "ai_tool": [
        [
          {
            "node": "Heimby support and logistics coordinator1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "supabase add task1": {
      "ai_tool": [
        [
          {
            "node": "Heimby support and logistics coordinator1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Parse-data1": {
      "main": [
        [
          {
            "node": "Supabase get full chat1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get FAQ1": {
      "main": [
        [
          {
            "node": "Get Property info1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Property info1": {
      "main": [
        [
          {
            "node": "Chat input data1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Task1": {
      "main": [
        [
          {
            "node": "Get Booking1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "supabase get chat by booking_id1": {
      "ai_tool": [
        [
          {
            "node": "Heimby support and logistics coordinator1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "supabase add chat to booking1": {
      "ai_tool": [
        [
          {
            "node": "Heimby support and logistics coordinator1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "supabase get booking1": {
      "ai_tool": [
        [
          {
            "node": "Heimby support and logistics coordinator1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Chat input data1": {
      "main": [
        [
          {
            "node": "Heimby support and logistics coordinator1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "supabase FAQ add general1": {
      "ai_tool": [
        [
          {
            "node": "Heimby support and logistics coordinator1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "supabase FAQ add by property_id1": {
      "ai_tool": [
        [
          {
            "node": "Heimby support and logistics coordinator1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "supabase FAQ update entry1": {
      "ai_tool": [
        [
          {
            "node": "Heimby support and logistics coordinator1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "supabase FAQ get all1": {
      "ai_tool": [
        [
          {
            "node": "Heimby support and logistics coordinator1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Supabase property update1": {
      "ai_tool": [
        [
          {
            "node": "Heimby support and logistics coordinator1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Supabase get full chat": {
      "main": [
        [
          {
            "node": "Get Booking",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Booking": {
      "main": [
        [
          {
            "node": "Get FAQ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "supabase get property": {
      "ai_tool": [
        [
          {
            "node": "Heimby support and logistics coordinator2",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get FAQ": {
      "main": [
        [
          {
            "node": "Get Property info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Property info": {
      "main": [
        [
          {
            "node": "Chat input data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "supabase get chat by booking_id": {
      "ai_tool": [
        [
          {
            "node": "Heimby support and logistics coordinator2",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "supabase get booking": {
      "ai_tool": [
        [
          {
            "node": "Heimby support and logistics coordinator2",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Chat input data": {
      "main": [
        [
          {
            "node": "Heimby support and logistics coordinator2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "supabase FAQ add general": {
      "ai_tool": [
        [
          {
            "node": "Heimby support and logistics coordinator2",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "supabase FAQ add by property_id": {
      "ai_tool": [
        [
          {
            "node": "Heimby support and logistics coordinator2",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "supabase FAQ update entry": {
      "ai_tool": [
        [
          {
            "node": "Heimby support and logistics coordinator2",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "supabase FAQ get all": {
      "ai_tool": [
        [
          {
            "node": "Heimby support and logistics coordinator2",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Supabase property update": {
      "ai_tool": [
        [
          {
            "node": "Heimby support and logistics coordinator2",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Message sent from UI2": {
      "main": [
        [
          {
            "node": "Parse-data2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Heimby support and logistics coordinator2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Telegram send chat to operator2": {
      "ai_tool": [
        [
          {
            "node": "Heimby support and logistics coordinator2",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Parse-data2": {
      "main": [
        [
          {
            "node": "Supabase get full chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "supabase add chat to booking2": {
      "ai_tool": [
        [
          {
            "node": "Heimby support and logistics coordinator2",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "supabase get tasks": {
      "ai_tool": [
        [
          {
            "node": "Heimby support and logistics coordinator3",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Supabase get partners": {
      "ai_tool": [
        [
          {
            "node": "Heimby support and logistics coordinator3",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "supabase add task": {
      "ai_tool": [
        [
          {
            "node": "Heimby support and logistics coordinator3",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Supabase update task": {
      "ai_tool": [
        [
          {
            "node": "Heimby support and logistics coordinator3",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get Task": {
      "main": [
        [
          {
            "node": "Get Booking2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "supabase get chat by task_id": {
      "ai_tool": [
        [
          {
            "node": "Heimby support and logistics coordinator3",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "supabase add chat to task": {
      "ai_tool": [
        [
          {
            "node": "Heimby support and logistics coordinator3",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "supabase get task by id": {
      "ai_tool": [
        [
          {
            "node": "Heimby support and logistics coordinator3",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Message sent from UI3": {
      "main": [
        [
          {
            "node": "Parse-data3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "Heimby support and logistics coordinator3",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Supabase get full chat2": {
      "main": [
        [
          {
            "node": "Get Task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Booking2": {
      "main": [
        [
          {
            "node": "Get FAQ2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram send chat to operator3": {
      "ai_tool": [
        [
          {
            "node": "Heimby support and logistics coordinator3",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "supabase get property2": {
      "ai_tool": [
        [
          {
            "node": "Heimby support and logistics coordinator3",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Parse-data3": {
      "main": [
        [
          {
            "node": "Supabase get full chat2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get FAQ2": {
      "main": [
        [
          {
            "node": "Get Property info2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Property info2": {
      "main": [
        [
          {
            "node": "Chat input data2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "supabase get chat by booking_id2": {
      "ai_tool": [
        [
          {
            "node": "Heimby support and logistics coordinator3",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "supabase add chat to booking3": {
      "ai_tool": [
        [
          {
            "node": "Heimby support and logistics coordinator3",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "supabase get booking2": {
      "ai_tool": [
        [
          {
            "node": "Heimby support and logistics coordinator3",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Chat input data2": {
      "main": [
        [
          {
            "node": "Heimby support and logistics coordinator3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "supabase FAQ add general2": {
      "ai_tool": [
        [
          {
            "node": "Heimby support and logistics coordinator3",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "supabase FAQ add by property_id2": {
      "ai_tool": [
        [
          {
            "node": "Heimby support and logistics coordinator3",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "supabase FAQ update entry2": {
      "ai_tool": [
        [
          {
            "node": "Heimby support and logistics coordinator3",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "supabase FAQ get all2": {
      "ai_tool": [
        [
          {
            "node": "Heimby support and logistics coordinator3",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Supabase property update2": {
      "ai_tool": [
        [
          {
            "node": "Heimby support and logistics coordinator3",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Supabase get partners2": {
      "ai_tool": [
        [
          {
            "node": "Heimby support and logistics coordinator4",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "supabase add task2": {
      "ai_tool": [
        [
          {
            "node": "Heimby support and logistics coordinator4",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Supabase update task1": {
      "ai_tool": [
        [
          {
            "node": "Heimby support and logistics coordinator4",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get Task2": {
      "main": [
        [
          {
            "node": "Get Booking3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "supabase get chat by task_id1": {
      "ai_tool": [
        [
          {
            "node": "Heimby support and logistics coordinator4",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "supabase add chat to task1": {
      "ai_tool": [
        [
          {
            "node": "Heimby support and logistics coordinator4",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "supabase get task by id1": {
      "ai_tool": [
        [
          {
            "node": "Heimby support and logistics coordinator4",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Message sent from UI4": {
      "main": [
        [
          {
            "node": "Parse-data4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model5": {
      "ai_languageModel": [
        [
          {
            "node": "Heimby support and logistics coordinator4",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Supabase get full chat3": {
      "main": [
        [
          {
            "node": "Get Task2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Booking3": {
      "main": [
        [
          {
            "node": "Get FAQ3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram send chat to operator4": {
      "ai_tool": [
        [
          {
            "node": "Heimby support and logistics coordinator4",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "supabase get property3": {
      "ai_tool": [
        [
          {
            "node": "Heimby support and logistics coordinator4",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Parse-data4": {
      "main": [
        [
          {
            "node": "Supabase get full chat3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get FAQ3": {
      "main": [
        [
          {
            "node": "Get Property info3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Property info3": {
      "main": [
        [
          {
            "node": "Chat input data3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "supabase get chat by booking_id3": {
      "ai_tool": [
        [
          {
            "node": "Heimby support and logistics coordinator4",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "supabase add chat to booking4": {
      "ai_tool": [
        [
          {
            "node": "Heimby support and logistics coordinator4",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "supabase get booking3": {
      "ai_tool": [
        [
          {
            "node": "Heimby support and logistics coordinator4",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Chat input data3": {
      "main": [
        [
          {
            "node": "Heimby support and logistics coordinator4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "supabase FAQ add general3": {
      "ai_tool": [
        [
          {
            "node": "Heimby support and logistics coordinator4",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "supabase FAQ add by property_id3": {
      "ai_tool": [
        [
          {
            "node": "Heimby support and logistics coordinator4",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "supabase FAQ update entry3": {
      "ai_tool": [
        [
          {
            "node": "Heimby support and logistics coordinator4",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "supabase FAQ get all3": {
      "ai_tool": [
        [
          {
            "node": "Heimby support and logistics coordinator4",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Supabase property update3": {
      "ai_tool": [
        [
          {
            "node": "Heimby support and logistics coordinator4",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "supabase get tasks for property": {
      "ai_tool": [
        [
          {
            "node": "Heimby support and logistics coordinator4",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Follow up unsolved tasks webhook": {
      "main": [
        [
          {
            "node": "Supabase get all unsolved tasks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase get all unsolved tasks": {
      "main": [
        [
          {
            "node": "Prepare follow-up context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare follow-up context": {
      "main": [
        [
          {
            "node": "Follow up unsolved tasks coordinator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter follow-up model": {
      "ai_languageModel": [
        [
          {
            "node": "Follow up unsolved tasks coordinator",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Telegram send chat to operator FU": {
      "ai_tool": [
        [
          {
            "node": "Follow up unsolved tasks coordinator",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Supabase update task FU": {
      "ai_tool": [
        [
          {
            "node": "Follow up unsolved tasks coordinator",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "supabase add chat to task FU": {
      "ai_tool": [
        [
          {
            "node": "Follow up unsolved tasks coordinator",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "supabase get chat by task_id FU": {
      "ai_tool": [
        [
          {
            "node": "Follow up unsolved tasks coordinator",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "supabase get task by id FU": {
      "ai_tool": [
        [
          {
            "node": "Follow up unsolved tasks coordinator",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "supabase get partners FU": {
      "ai_tool": [
        [
          {
            "node": "Follow up unsolved tasks coordinator",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "supabase get property FU": {
      "ai_tool": [
        [
          {
            "node": "Follow up unsolved tasks coordinator",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "supabase get booking FU": {
      "ai_tool": [
        [
          {
            "node": "Follow up unsolved tasks coordinator",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "supabase add chat to booking FU": {
      "ai_tool": [
        [
          {
            "node": "Follow up unsolved tasks coordinator",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2971f654d237e118d6d5c88db76077ac7d39fea8232f435ca215a4ca1ffe9181"
  }
}